.haha {
    text-align: center;
    background: url( assets/images/maxresdefault.jpg);
    

}

.picture{
    border-radius: 50%;
}



.carousel-item {
 height: 500px;
    text-align: center;
}

.item1 {
  background-color:grey;

}

.item2 {
  background-color: greenyellow;
  
}

.item3 {
  background-color:cyan;

}
